spring:
  application:
    name: AI Demo Project
  ai:
    ollama:
      base-url: http://localhost:11434
      chat:
        options:
          model: llama3
          temperature: 0.7  # setting creativity level of the model
