:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
}
.app-navigation-bar {
  --igx-navbar-text-color: var(--ig-primary-500-contrast);
  --igx-navbar-background: var(--ig-primary-500);
  height: max-content;
  min-width: min-content;
}
.navbar-content {
  gap: 1rem;
}
.menu-icon-button {
  --foreground: var(--ig-primary-500-contrast);
}
.message-input {
  height: max-content;
  min-width: min-content;
  flex-grow: 1;
  flex-basis: 0;
}
.send-button {
  --ig-size: var(--ig-size-medium);
  height: max-content;
  flex-shrink: 0;
}
.icon {
  color: var(--ig-primary-500-contrast);
}
.chat-icon {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: var(--ig-primary-500-contrast);
}
.app-title {
  color: var(--ig-primary-500-contrast);
  height: max-content;
  min-width: min-content;
}
.row-layout {
  display: flex;
}
.navigation-title-row-layout {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 20px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.input-area {
  justify-content: flex-end;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.chat-history {
  height: max-content;
}
